root:
  true

env:
  node: true
  es6: true

rules:
  comma-dangle: 2
  no-cond-assign: 2
  no-console: 1
  no-constant-condition: 2
  no-control-regex: 2
  no-debugger: 2
  no-dupe-args: 2
  no-dupe-keys: 2
  no-duplicate-case: 2
  no-empty: 2
  no-ex-assign: 2
  no-extra-boolean-cast: 2
  no-func-assign: 2
  no-inner-declarations: 2
  no-invalid-regexp: 2
  no-irregular-whitespace: 2
  no-negated-in-lhs: 2
  no-obj-calls: 2
  no-regex-spaces: 2
  no-sparse-arrays: 2
  no-unreachable: 2
  use-isnan: 2
  valid-typeof: 2
  no-fallthrough: 2
  no-octal: 2
  no-redeclare: 2
  no-delete-var: 2
  no-undef: 2
  no-unused-vars: 1
  no-mixed-spaces-and-tabs: 2
  radix: 2
  wrap-iife: 2
  guard-for-in: 2
  no-alert: 2
  new-cap: 2
  no-new: 2
  no-caller: 2
  strict:
    - 2
    - "global"
  eqeqeq:
    - 2
    - "allow-null"
  no-extra-semi: 1
  semi: 1
  no-shadow: 1
  camelcase: 1
  no-floating-decimal: 1
  space-before-blocks: 1
  eol-last: 1
  key-spacing: 1
  curly:
    - 1
    - "multi-line"
  indent:
    - 1
    - "tab"
  brace-style:
    - 1
    - "1tbs"
  comma-style:
    - 1
    - "last"
  space-after-keywords:
    - 1
    - "always"
  valid-jsdoc:
    - 1
    - prefer:
        return: "returns"
  no-use-before-define:
    - 1
    - "nofunc"
  semi-spacing:
    - 1
    - before: false
      after: true
  quotes:
    - 1
    - "single"
    - "avoid-escape"
